
textarea {
  width: 100px;
  height: 60px;
  resize: none;
}

button {
  color: #fff;
  background-color: #f851e6;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.bingo-square {
  border: 2px dotted;
  width: 100px;
  height: 100px;
  padding: 5px;
}
.unselected {
  background-color: #ffe;
}
.selected {
border-style: dotted;
border-color:#red;
border-radius: 10px;
background: radial-gradient(circle, rgba(255,255,238,0.7344632768361582) 58%, rgba(245,205,105,0.8192090395480226) 100%);

  /* background-color: #ff9800; */
}

.input-cell {
  border-style:dotted;
  border-color: rgb(249,167,2);
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#bingoCardContainer{
  margin-top: 10px;
}
